<!DOCTYPE html>
<html>
<head>
    <title>Julia Set Generator</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <h1>Julia set generator</h1>
    
    <div class="parent-container">

    <div class="form-container">

    <form
        hx-post="/julia"
        hx-target="#juliaImage"
        hx-encoding="multipart/form-data"
        hx-swap="outerHTML"
    >
        <label id="realLabel">Real</label> <input class="number-input" type="text" name="real" value="-0.8"><br>
        <label id="imagLabel">Imag</label> <input class="number-input" type="text" name="imag" value="0.156"><br>
        <button id="submitButton" type="submit">Generate</button>
    </form>
    </div>

    
    <div class="preview-container">
    <img id="juliaImage" src="/static/julia_set_preview.png" width="800" height="800" alt="Julia set image" />
</div>

    </div>
</body>
</html>